@model FastFoodChain16.Models.TaiKhoan

@{
    ViewData["Title"] = "Delete";
    Layout = null;
}


<h1 style="text-align:center;font-weight:bold;">XÓA TÀI KHOẢN</h1>

<h3>Bạn chắc chắn muốn xóa tài khoản này?</h3>
<head>
    <style type="text/css">
        table, th, td {
            border: 1px solid #ccc;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 10px;
        }

        tr:hover {
            background-color: #ddd;
            cursor: pointer;
        }
    </style>
</head>
<div>
    <h4>Tài khoản</h4>
    <hr />
@*    <div class="container">
        <table class="table">
        <tr>
            <td style="width: 30%; text-align: right;"> <!-- Điều chỉnh chiều rộng và căn lề phải -->
                @Html.DisplayNameFor(model => model.TenDangNhap)
            </td>
            <td>
                @Html.DisplayFor(model => model.TenDangNhap)
            </td>
        </tr>
        <tr>
            <td style="width: 30%; text-align: right;"> <!-- Điều chỉnh chiều rộng và căn lề phải -->
                @Html.DisplayNameFor(model => model.MatKhau)
            </td>
            <td>
                @Html.DisplayFor(model => model.MatKhau)
            </td>
        </tr>
        </table>
    </div>*@
    <table class="table">
        <tr>
            <td style="width: 30%; text-align: right;"> <!-- Điều chỉnh chiều rộng và căn lề phải -->
                @Html.DisplayNameFor(model => model.TenDangNhap)
            </td>
            <td>
                @Html.DisplayFor(model => model.TenDangNhap)
            </td>
        </tr>
        <tr>
            <td style="width: 30%; text-align: right;"> <!-- Điều chỉnh chiều rộng và căn lề phải -->
                @Html.DisplayNameFor(model => model.MatKhau)
            </td>
            <td>
                @Html.DisplayFor(model => model.MatKhau)
            </td>
        </tr>
    </table>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaTk" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="ListUser">Back to List</a>
    </form>
</div>
