@model IEnumerable<FastFoodChain16.Models.TaiKhoan>

@{
    ViewData["Title"] = "ListUser";
    Layout = null;
}

<p>
    <a asp-action="ListProduct" asp-controller="SanPham">ListProduct</a>
    <a asp-action="ListUser" asp-controller="NguoiDung">| ListUser</a>
    <a asp-action="ThongKeSLSP" asp-controller="ThongKe">| Statistical Product</a>
    <a asp-action="ThongKeDT" asp-controller="ThongKe">| Statistical Revenue</a>
    <a asp-action="Login" asp-controller="KhachHang">| Đăng xuất</a>
</p>
<h1 style="text-align:center">DANH SÁCH TÀI KHOẢN</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<head>
    <style type="text/css">
        table, th, td {
            border: 1px solid #ccc;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 10px;
        }

        tr:hover {
            background-color: #ddd;
            cursor: pointer;
        }
    </style>
</head>
<table class="table">
    <thead>
        <tr style="background-color: powderblue">
            <th>
                @Html.DisplayNameFor(model => model.MaTk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenDangNhap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatKhau)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaTk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenDangNhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatKhau)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaTk">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaTk">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaTk">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
